.fullpage {
    min-height: 100vh;
    padding: 1.5rem;

    .has-margin {
        margin: 1.5rem;

        &--small {
            margin: 1rem;
        }
    }

    .__subheader--top-padding {
        padding-top: 1rem;
    }
}